<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <app-header></app-header>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="top:10px;">
            <!--(ngSubmit)="create()"-->
            <div class="card text-center col-md-12 col-sm-12 col-xs-12">
                <div class="card-header col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <button id="DatosPricipales"
                                class="nav-link btn btn-primary active">{{datosSingleton.menuOcupacionalDatosPrincipales}}</button>
                        </li>
                    </ul>
                </div>

                <div class="card-body " id="DatosPricipalesHtml">
                    <blockquote class="blockquote mb-0 form-row etiquetas">
                        <form novalidate #datos="ngForm" class="form-inline" style="width: 100%;">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <h3>DATOS DEL PACIENTE</h3>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <div class="form-group col-md-8 col-sm-8 col-xs-12">
                                    <mat-form-field>
                                        <mat-label for="formNoDocumentoGym">{{datosSingleton.labelNoDocumento}}
                                        </mat-label>
                                        <input matInput [(ngModel)]="persona.numeroDocumento" name="numeroDocumento"
                                            id="formNoDocumentoGym" type="text" class="form-control campoGrande"
                                            placeholder="{{datosSingleton.labelNoDocumento}}"
                                            value="{{Spersona.numeroDocumento}}" required />
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                    <button id="BuscarPersona" mat-raised-button color="primary"
                                        (click)="onValidatePersona()">Buscar</button>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formTipoDocumentoGym">{{datosSingleton.labelTipoDocumento}}
                                    </mat-label>
                                    <mat-select id="formTipoDocumentoGym"
                                        [ngModel]="Spersona.tipoDocumento.seqTipoDocumento" name="tipoDocumento"
                                        (ngModelChange)="persona.tipoDocumento.seqTipoDocumento = $event">
                                        <mat-option *ngFor="let doc of tipoDocumento" [value]="doc.seqTipoDocumento">
                                            {{doc.siglaDocumento + "-" + doc.nomDocumento}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Seleccione una opción</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formPrimerApellidoGym">{{datosSingleton.labelPrimerApellido}}
                                    </mat-label>
                                    <input matInput required
                                        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                                        [ngModel]="Spersona.nomPrimerApellido"
                                        (ngModelChange)="persona.nomPrimerApellido = $event" name="nomPrimerApellido"
                                        id="formPrimerApellidoGym" type="text" class="form-control campoGrande "
                                        placeholder="{{datosSingleton.labelPrimerApellido}}"
                                        value="{{persona.nomPrimerApellido}}">
                                    <mat-error>Texto Incorrecto</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formSegundoApelldioGym">{{datosSingleton.labelSegundoApellido}}
                                    </mat-label>
                                    <input matInput
                                        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                                        [ngModel]="Spersona.nomSegundoApellido"
                                        (ngModelChange)="persona.nomSegundoApellido = $event" name="nomSegundoApellido"
                                        id="formSegundoApelldioGym" type="text" class="form-control campoGrande"
                                        placeholder="{{datosSingleton.labelSegundoApellido}}"
                                        value="{{Spersona.nomSegundoApellido}}" />
                                    <mat-error>Texto Incorrecto</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formPrimerNombreGym">{{datosSingleton.labelPrimerNombre}}
                                    </mat-label>
                                    <input matInput required
                                        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                                        [ngModel]="Spersona.nomPrimerNombre"
                                        (ngModelChange)="persona.nomPrimerNombre = $event" name="nomPrimerNombre"
                                        id="formPrimerNombreGym" type="text" class="form-control campoGrande"
                                        placeholder="{{datosSingleton.labelPrimerNombre}}" />
                                    <mat-error>Texto Incorrecto</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formSegundoNombreGym">{{datosSingleton.labelSegundoNombre}}
                                    </mat-label>
                                    <input matInput
                                        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                                        [ngModel]="Spersona.nomSegundoNombre"
                                        (ngModelChange)="persona.nomSegundoNombre = $event" name="nomSegundoNombre"
                                        id="formSegundoNombreGym" type="text" class="form-control campoGrande"
                                        placeholder={{datosSingleton.labelSegundoNombre}} />
                                    <mat-error>Texto Incorrecto</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                <section>
                                    <div style="float: left;">
                                        <mat-label>{{datosSingleton.tipoUsuario}}</mat-label>
                                    </div>
                                    <br>
                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="estudiante" name="estudiante" [(ngModel)]="estudiante">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>ESTUDIANTE</label>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="administrativo" name="administrativo"
                                                [(ngModel)]="administrativo">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>ADMINISTRATIVO</label>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="docente" name="docente" [(ngModel)]="docente">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>DOCENTE</label>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="egresado" name="egresado" [(ngModel)]="egresado">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>EGRESADO</label>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="otro" name="otro" [(ngModel)]="otro">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>OTRO</label>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="administrador" name="administrador"
                                                [(ngModel)]="administrador">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>ADMINISTRADOR</label>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="medicotipo" name="medicotipo" [(ngModel)]="medicotipo">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>MEDICO</label>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="auxiliar" name="auxiliar" [(ngModel)]="auxiliar">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>AUXILIAR</label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6" *ngIf="otro == true">
                                <mat-form-field>
                                    <mat-label for="formotroUsuarioGym">OTRO TIPO USUARIO
                                    </mat-label>
                                    <input matInput
                                        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                                        [ngModel]="Spersona.nuevorolUsuario"
                                        (ngModelChange)="persona.nuevorolUsuario = $event" name="otroUsuario"
                                        id="formotroUsuarioGym" type="text" class="form-control campoGrande"
                                        placeholder=OTRO TIPO USUARIO />
                                    <mat-error>Texto Incorrecto</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                <mat-form-field>
                                    <mat-label>Estado</mat-label>
                                    <mat-select required [ngModel]="perfil.estado"
                                        (ngModelChange)="perfil.estado = $event" name="estado">
                                        <mat-option value="A">ACTIVO</mat-option>
                                        <mat-option value="I">INACTIVO</mat-option>
                                    </mat-select>
                                    <mat-error>Seleccione una opción</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formedadGym">{{datosSingleton.labeledad}}</mat-label>
                                    <input matInput required pattern="[0-9]*" [ngModel]="Spersona.edad"
                                        (ngModelChange)="persona.edad = $event" name="edad" id="formedadGym" type="text"
                                        class="form-control campoGrande" placeholder={{datosSingleton.labeledad}} />
                                    <mat-error>Digite la edad de la persona</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formgeneroGym">{{datosSingleton.labelGenero}}</mat-label>
                                    <mat-select [ngModel]="Spersona.genero" (ngModelChange)="persona.genero = $event"
                                        required name="genero" id="formgeneroGym">
                                        <mat-option value="M">Masculino</mat-option>
                                        <mat-option value="F">Femenino</mat-option>
                                    </mat-select>
                                    <mat-error>Seleccione una opción</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label for="formnomCargoDepGym">{{datosSingleton.labelCargoDependencia}}
                                    </mat-label>
                                    <input matInput required
                                        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                                        [ngModel]="Spersona.nomCargoDep" (ngModelChange)="persona.nomCargoDep = $event"
                                        name="nomCargoDep" id="formnomCargoDepGym" type="text"
                                        class="form-control campoGrande"
                                        placeholder={{datosSingleton.labelCargoDependencia}} />
                                    <mat-error>Texto Incorrecto</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                <section>
                                    <div style="float: left;">
                                        <mat-label>Permisos</mat-label>
                                    </div>
                                    <br>
                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="crear" name="crear" [(ngModel)]="crear">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>CREAR</label>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="gestionar" name="gestionar" [(ngModel)]="gestionar">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>GESTIONAR</label>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="descargar" name="descargar" [(ngModel)]="descargar">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>DESCARGAR</label>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="float: left;">
                                        <div style="float:left">
                                            <mat-checkbox id="auxiliarpermiso" name="auxiliarpermiso"
                                                [(ngModel)]="auxiliarpermiso">
                                            </mat-checkbox>
                                        </div>
                                        <div style="float:right">
                                            <label>AUXILIAR</label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <mat-form-field>
                                    <mat-label>CONTRASEÑAA</mat-label>
                                    <input matInput required [type]="hide ? 'password' : 'text'"
                                        [ngModel]="perfil.password" (ngModelChange)="perfil.password = $event"
                                        name="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3" *ngIf="firmaUsuario != null">
                                <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                    <mat-label>FIRMA ACTUAL</mat-label>
                                </div>
                                <img style="background: black;" [src]="firmaUsuario">
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                    <mat-label>NUEVA FIRMA</mat-label>
                                </div>
                                <app-firma-individual #firma></app-firma-individual>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3 row">
                                <button mat-raised-button color="primary" role="button" *ngIf="buscoPerson == true"
                                    [disabled]="datos.invalid" (click)="updatePersona('1')">ACTUALIZAR</button>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-3">
                                <button mat-raised-button color="primary" role="button" *ngIf="buscoPerson == false"
                                [disabled]="datos.invalid" (click)="updatePersona('2')">CREAR</button>
                            </div>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>