/* You can add global styles to this file, and also import other style files */

html, body {
  background-image:url('assets/img/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
body {
  margin: 0!important;
  padding: 0!important;
  font-size: 17px !important;
  font-family: inherit !important;
  font-weight: 500!important;
}
