<section class="container-fluid">
  <div class="row">
    <div class="signature-pad" style="margin:100px;">
      <div class="signature-pad--body ">
        <canvas #sPad1 width="400" height="200" style="touch-action: none; background: black;"></canvas>
        <button class="btn btn-block btn-danger" (click)="clearMedico()">Limpiar</button>
        <button class="btn btn-block btn-success" (click)="savePNGMedico()">Guardar</button>
      </div>
    </div>
    <div class="signature-pad" style="margin:100px;">
      <div class="signature-pad--body ">
        <canvas #sPad2 width="400" height="200" style="touch-action: none; background: black;"></canvas>
        <button class="btn btn-block btn-danger" (click)="clearPaciente()">Limpiar</button>
        <button class="btn btn-block btn-success" (click)="savePNGPaciente()">Guardar</button>
      </div>
    </div>
  </div>
</section>
<!-- <section class="container-fluid">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-block btn-warning" (click)="undo()">Undo</button>
      <button class="btn btn-block btn-info" (click)="changeColor()">Change Color</button>
    </div>
    <div class="col-6">
      <button class="btn btn-block btn-success" (click)="savePNG()">PNG</button>
      <button class="btn btn-block btn-primary" (click)="saveJPG()">JPG</button>
      <button class="btn btn-block btn-secondary" (click)="saveSVG()">SVG</button>
    </div>
  </div>
</section> -->