<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <app-header></app-header>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="top:10px;">
      <div class="card text-center col-md-12 col-sm-12 col-xs-12">
        <div class="card-body">
          <blockquote class="blockquote mb-0 form-row etiquetas">
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
              <mat-form-field>
                <mat-label>{{datosSingleton.menuImpresionDiagnostico}}</mat-label>
                <mat-select multiple [(ngModel)]="tipoUsuarioSelecionado" name="tipoSeleccionado">
                  <mat-option *ngFor="let doc of tipoUsuario" [value]="doc">
                    {{doc.nomTipoUsuario}}</mat-option>
                </mat-select>
                <mat-error>Seleccione una opción</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-2 col-sm-2 col-xs-2">
              <button id="BuscarPersona" mat-raised-button color="primary" (click)="onBuscarTipo()">Buscar Criterio</button>
            </div>
          </blockquote>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12" id="tablaDatos" style="display:none;">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Escriba">
          </mat-form-field>

          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="No.">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Nombre">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nomPrimerNombre + " " + element.nomSegundoNombre}}
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Apellido">
              <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nomPrimerApellido + " " + element.nomSegundoApellido}}
              </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Celular">
              <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.celular}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>