<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <app-header></app-header>
    </div>
    <div class="card text-center col-md-12 col-sm-12 col-xs-12" style="top:10px;">
      <div class="card-body ">
        <blockquote class="blockquote mb-0 form-row etiquetas">
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <mat-form-field>
              <mat-label>Tipo Usuario</mat-label>
              <mat-select multiple [(ngModel)]="tipoUsuarioSelecionado" name="tipoSeleccionado">
                <mat-option *ngFor="let doc of tipoUsuario" [value]="doc">
                  {{doc.nomTipoUsuario}}</mat-option>
              </mat-select>
              <mat-error>Seleccione una opción</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-4">
            <button id="BuscarPersona" mat-raised-button color="primary" (click)="onBuscarTipo()">Buscar
              Criterio</button>
          </div>
        </blockquote>
      </div>
      <br>
      <br>
      <div class="form-group col-md-12 col-sm-12 col-xs-12" id="tablaDatos" style="display:none;">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <div class="card-body ">
            <blockquote class="blockquote mb-0 form-row etiquetas">
              <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Escriba">
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <button mat-raised-button color="primary" (click)="exportAsXLSX()"> Export <mat-icon>trending_down
                  </mat-icon></button>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <ng-container matColumnDef="Tipo Documento">
                    <mat-header-cell *matHeaderCellDef> Tipo Documento </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="No.">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.documento}} </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="Nombre">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombre}}
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="Apellido">
                    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{element.apellido}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Celular">
                    <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.celular}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="boton">
                    <mat-header-cell *matHeaderCellDef> Historias </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button mat-raised-button [routerLink]="['/menuPrincipal/list-usuariosApp',element.documento]" color="primary"> Ver Historias
                      </button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>