<div class="container-fluid">
  <div class="row row-col-3">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <app-header></app-header>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="top:10px;">
      <!--(ngSubmit)="create()"-->
      <form novalidate #f="ngForm" class="form-inline">
        <div class="card text-center col-md-12 col-sm-12 col-xs-12">
          <div class="card-header col-md-12 col-sm-12 col-xs-12">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <button id="DatosPricipales" class="nav-link btn btn-primary active" (click)="activar('DatosPricipales')">{{datosSingleton.menuOcupacionalDatosPrincipales}}</button>
              </li>
              <li class="nav-item">
                <button id="DatosHistoriaLaboral" class="nav-link btn btn-primary" *ngIf="medico == true" (click)="activar('DatosHistoriaLaboral')">{{datosSingleton.menuOcupacionalHistoriaLaboral}}</button>
              </li>
              <li class="nav-item">
                <button id="DatosTerceraFase" class="nav-link btn btn-primary " *ngIf="medico == true" (click)="activar('DatosTerceraFase')">{{datosSingleton.labelAntecedentes}}</button>
              </li>
              <li class="nav-item">
                <button id="Datosprueba" class="nav-link btn btn-primary " *ngIf="medico == true" (click)="activar('Datosprueba')">Disabled</button>
              </li>
            </ul>
          </div>
          <div class="card-body " *ngIf="datosPersonales">
            <blockquote class="blockquote mb-0 form-row etiquetas">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <h3>IDENTIFICACIÓN DEL PACIENTE</h3>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <div class="form-group col-md-8 col-sm-8 col-xs-12">
                  <mat-form-field>
                    <mat-label for="formNoDocumentoOcupacional">{{datosSingleton.labelNoDocumento}}</mat-label>
                    <input matInput [(ngModel)]="persona.numeroDocumento" name="numeroDocumento" id="formNoDocumentoOcupacional" type="text" class="form-control campoGrande" placeholder="{{datosSingleton.labelNoDocumento}}" value="" required />
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4 col-sm-4 col-xs-12">
                  <button id="BuscarPersona" mat-raised-button color="primary" (click)="onValidatePersona()">Buscar Persona</button>
                </div>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formTipoDocumentoOcupacional">{{datosSingleton.labelTipoDocumento}}</mat-label>
                  <select matNativeControl id="formTipoDocumentoOcupacional" required [(ngModel)]="persona.tipoDocumento.seqTipoDocumento" name="tipoDocumento">
                    <optgroup label="Valor Seleccionado" *ngIf="buscoPerson == true">
                      <option value="Spersona.tipoDocumento.seqTipoDocumento" *ngIf="buscoPerson == true" selected>{{Spersona.tipoDocumento.siglaDocumento + "-" +Spersona.tipoDocumento.nomDocumento}}</option>
                    </optgroup>
                    <optgroup label="Seleccionar">
                      <option *ngFor="let doc of tipoDocumento" value="doc.seqTipoDocumento">{{doc.siglaDocumento + "-" + doc.nomDocumento}}</option>
                    </optgroup>
                  </select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <!--https://developer.snapappointments.com/bootstrap-select/examples/-->
              <div class="form-group col-md-6 col-sm-6 col-xs-3">

                <mat-form-field>
                  <mat-label for="formPrimerApellidoOcupacional">{{datosSingleton.labelPrimerApellido}}</mat-label>
                  <input matInput required pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.nomPrimerApellido" name="nomPrimerApellido" id="formPrimerApellidoOcupacional" type="text"
                    class="form-control campoGrande " value={{Spersona.nomPrimerApellido}} placeholder="{{datosSingleton.labelPrimerApellido}}">
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formSegundoApelldioOcupacional">{{datosSingleton.labelSegundoApellido}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.nomSegundoApellido" name="nomSegundoApellido" id="formSegundoApelldioOcupacional" type="text"
                    class="form-control campoGrande" placeholder="{{datosSingleton.labelSegundoApellido}}" required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formPrimerNombreOcupacional">{{datosSingleton.labelPrimerNombre}}</mat-label>
                  <input matNativeControl pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.nomPrimerNombre" name="nomPrimerNombre" id="formPrimerNombreOcupacional" type="text"
                    class="form-control campoGrande" placeholder="{{datosSingleton.labelPrimerNombre}}" required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formSegundoNombreOcupacional">{{datosSingleton.labelSegundoNombre}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.nomSegundoNombre" name="nomSegundoNombre" id="formSegundoNombreOcupacional" type="text"
                    class="form-control campoGrande" placeholder={{datosSingleton.labelSegundoNombre}} required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formedadOcupacional">{{datosSingleton.labeledad}}</mat-label>
                  <input matInput pattern="[0-9]*" [(ngModel)]="persona.edad" name="edad" id="formedadOcupacional" type="text" class="form-control campoGrande" placeholder={{datosSingleton.labeledad}} value="" required />
                  <mat-error>Digite la edad de la persona</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formgeneroOcupacional">{{datosSingleton.labelGenero}}</mat-label>
                  <mat-select [(ngModel)]="persona.genero" name="genero" required>
                    <mat-option value="M">Masculino</mat-option>
                    <mat-option value="F">Femenino</mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formfechaNacimientoOcupacional">{{datosSingleton.labelFechaNacimiento}}</mat-label>
                  <input matInput [(ngModel)]="persona.fechaNacimiento" type="date" name="fechaNacimiento">
                  <mat-error>Coloque la fecha mm/dd/yyyy</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formlugarNacimientoOcupacional">{{datosSingleton.labelLugarDeNacimiento}}</mat-label>
                  <mat-select required [(ngModel)]="persona.lugarNacimiento.seqCuidad" name="ciudad">
                    <mat-option *ngFor="let doc of ciudad" [value]="doc.seqCuidad">
                      {{doc.nomCuidad}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formestadoCivilOcupacional">{{datosSingleton.labelEstadoCivil}}</mat-label>
                  <mat-select [(ngModel)]="persona.estadoCivil" name="estadoCivil" required>
                    <mat-option value="Soltero">Soltero</mat-option>
                    <mat-option value="Casado">Casado</mat-option>
                    <mat-option value="UniónLibre">Unión Libre</mat-option>
                    <mat-option value="Viudo">Viudo</mat-option>
                    <mat-option value="Separado">Separado</mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formescolaridadOcupacional">{{datosSingleton.labelEscolaridad}}</mat-label>
                  <mat-select [(ngModel)]="persona.escolaridad" name="escolaridad" required>
                    <mat-option value="NINGUNA">NINGUNA</mat-option>
                    <mat-option value="PRIMARIA">PRIMARIA</mat-option>
                    <mat-option value="BACHILLERATO">BACHILLERATO</mat-option>
                    <mat-option value="TECNICA">TECNICA</mat-option>
                    <mat-option value="PROFESIONAL">PROFESIONAL</mat-option>
                    <mat-option value="ESPECIALIZACION">ESPECIALIZACION</mat-option>
                    <mat-option value="MAESTRIA">MAESTRIA</mat-option>
                    <mat-option value="DOCTORADO">DOCTORADO</mat-option>
                    <mat-option value="POST-DOCTORADO">POST-DOCTORADO</mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formnomCargoDepOcupacional">{{datosSingleton.labelCargoDependencia}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.nomCargoDep" name="nomCargoDep" id="formnomCargoDepOcupacional" type="text"
                    class="form-control campoGrande" placeholder={{datosSingleton.labelCargoDependencia}} required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formdireccionOcupacional">{{datosSingleton.labelDireccionCasa}}</mat-label>
                  <input matInput [(ngModel)]="persona.direccion" name="direccion" id="formdireccionOcupacional" type="text" class="form-control campoGrande" placeholder={{datosSingleton.labelDireccionCasa}} required />
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formtelefonoOcupacional">{{datosSingleton.labelTelefono}}</mat-label>
                  <mat-icon matSuffix></mat-icon>
                  <mat-error>No son números</mat-error>
                  <input matInput pattern="[0-9]*" [(ngModel)]="persona.telefono" name="telefono" id="formtelefonoOcupacional" type="text" class="form-control campoGrande" placeholder={{datosSingleton.labelTelefono}} value="" required />
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formaseguradoraOcupacional">{{datosSingleton.labelAseguradora}}</mat-label>
                  <mat-select required [(ngModel)]="persona.aseguradora.seqAseguradora" name="aseguradora">
                    <mat-option *ngFor="let eps of aseguradora" [value]="eps.seqAseguradora">
                      {{eps.nomAseguradora}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formAFPOcupacional">{{datosSingleton.labelAFP}}</mat-label>
                  <input matInput [(ngModel)]="persona.AFP" name="AFP" id="formAFPOcupacional" type="text" class="form-control campoGrande" placeholder={{datosSingleton.labelAFP}} value="" required />
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formARLOcupacional">{{datosSingleton.labelARL}}</mat-label>
                  <input matInput [(ngModel)]="persona.ARL" name="ARL" id="formARLOcupacional" type="text" class="form-control campoGrande" placeholder={{datosSingleton.labelARL}} value="" required />
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3 row">
                <button mat-raised-button color="primary" role="button" (click)="create()">CREAR PACIENTE</button>
              </div>
            </blockquote>
          </div>
          <!--Segunda fase [disabled]="f.invalid"-->
          <div class="card-body" *ngIf="datosHistoriaLaboral">
            <blockquote class="blockquote col-md-12 col-sm-12 col-xs-12 form-row etiquetas">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <h3>{{datosSingleton.menusubmenuOcupacionalHistoriaLTrabajoAC}}</h3>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formNombreEmpresaOcupacional">{{datosSingleton.labelNombreEmpresa}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.historias.historiaLaboral.nomEmpresa" name="nomEmpresa" id="formNombreEmpresaOcupacional" type="text"
                    class="form-control campoGrande" placeholder="{{datosSingleton.labelNombreEmpresa}}" required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formActividaEconomicaOcupacional">{{datosSingleton.labelActividadEconomica}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.historias.historiaLaboral.actEconomica" name="actEconomica" id="formActividaEconomicaOcupacional"
                    type="text" class="form-control campoGrande" placeholder={{datosSingleton.labelActividadEconomica}} required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formFechaIngresoOcupacional">{{datosSingleton.labelFechaIngreso}}</mat-label>
                  <input matInput [(ngModel)]="persona.historias.historiaLaboral.fechaIngreso" type="date" name="fechaIngreso">
                  <mat-error>Coloque la fecha mm/dd/yyyy</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formAntiguoOcupacional">{{datosSingleton.labelAntiguo}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.historias.historiaLaboral.antiguedad" name="antiguedad" id="formAntiguoOcupacional" type="text"
                    class="form-control campoGrande" placeholder="{{datosSingleton.labelAntiguo}}" required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-3">
                <mat-form-field>
                  <mat-label for="formCargoOcupacional">{{datosSingleton.labelCargo}}</mat-label>
                  <input matInput pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$" [(ngModel)]="persona.historias.historiaLaboral.cargo" name="cargo" id="formCargoOcupacional" type="text"
                    class="form-control campoGrande" placeholder={{datosSingleton.labelCargo}} required />
                  <mat-error>Texto Incorrecto</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <mat-form-field>
                  <mat-label for="formDescripcionOcupacional">{{datosSingleton.labelDescripcionTareasFuncion}}</mat-label>
                  <textarea matInput [(ngModel)]="persona.historias.historiaLaboral.desp_funciones_cargo" name="desp_funciones_cargo" id="formDescripcionOcupacional" rows="8" cols="80" required></textarea>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <h3>{{datosSingleton.menusubmenuOcupacionalHistoriaLTrabajoPre}}</h3>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12 ajusteTablas">
                <table class="table" id="tablaTrabajoPre">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">{{datosSingleton.tablaTrabajoPreLabelEmpresa}}</th>
                      <th scope="col">{{datosSingleton.tablaTrabajoPreLabelCargOficina}}</th>
                      <th scope="col">{{datosSingleton.tablaTrabajoPreLabelTimepo}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[0].nomEmpresa" name="persona.historias.historiaLaboral.empresaLaboral[0].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[0].cargo" name="persona.historias.historiaLaboral.empresaLaboral[0].cargo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[0].tiempo" name="persona.historias.historiaLaboral.empresaLaboral[0].tiempo"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[1].nomEmpresa" name="persona.historias.historiaLaboral.empresaLaboral[1].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[1].cargo" name="persona.historias.historiaLaboral.empresaLaboral[1].cargo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[1].tiempo" name="persona.historias.historiaLaboral.empresaLaboral[1].tiempo"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[2].nomEmpresa" name="persona.historias.historiaLaboral.empresaLaboral[2].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[2].cargo" name="persona.historias.historiaLaboral.empresaLaboral[2].cargo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[2].tiempo" name="persona.historias.historiaLaboral.empresaLaboral[2].tiempo"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[3].nomEmpresa" name="persona.historias.historiaLaboral.empresaLaboral[3].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[3].cargo" name="persona.historias.historiaLaboral.empresaLaboral[3].cargo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[3].tiempo" name="persona.historias.historiaLaboral.empresaLaboral[3].tiempo"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[4].nomEmpresa" name="persona.historias.historiaLaboral.empresaLaboral[4].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[4].cargo" name="persona.historias.historiaLaboral.empresaLaboral[4].cargo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.empresaLaboral[4].tiempo" name="persona.historias.historiaLaboral.empresaLaboral[4].tiempo"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <h3>{{datosSingleton.menusubmenuOcupacionalHistoriaLAntecedentesTrabajo}}</h3>
              </div>


              <!--******************************************************************************-->
              <!--Pregunta accidentes-->
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <mat-form-field>
                  <mat-label for="formaccidentesOcupacional">{{datosSingleton.labelSNaccidentesTrabajo}}</mat-label>
                  <mat-select [(ngModel)]="persona.historias.historiaLaboral.accionesTrabajoSN" name="accidentes" required>
                    <mat-option value="S">{{datosSingleton.labelSI}}</mat-option>
                    <mat-option value="N">{{datosSingleton.labelNO}}</mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12 ajusteTablas">
                <table class="table" id="tableAccidentes">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesFecha}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesEmpresa}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesCausa}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesTipoLesion}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesIncapacidad}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesSecuelas}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[0].fechaAnt" name="persona.historias.historiaLaboral.antecedentesTrabajo[0].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[0].nomEmpresa" name="persona.historias.historiaLaboral.antecedentesTrabajo[0].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[0].despCaus" name="persona.historias.historiaLaboral.antecedentesTrabajo[0].despCaus"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[0].tipoLesion" name="persona.historias.historiaLaboral.antecedentesTrabajo[0].tipoLesion"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[0].despIncapacidad" name="persona.historias.historiaLaboral.antecedentesTrabajo[0].despIncapacidad"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[0].despSecuelas" name="persona.historias.historiaLaboral.antecedentesTrabajo[0].despSecuelas"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[1].fechaAnt" name="persona.historias.historiaLaboral.antecedentesTrabajo[1].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[1].nomEmpresa" name="persona.historias.historiaLaboral.antecedentesTrabajo[1].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[1].despCaus" name="persona.historias.historiaLaboral.antecedentesTrabajo[1].despCaus"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[1].tipoLesion" name="persona.historias.historiaLaboral.antecedentesTrabajo[1].tipoLesion"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[1].despIncapacidad" name="persona.historias.historiaLaboral.antecedentesTrabajo[1].despIncapacidad"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[1].despSecuelas" name="persona.historias.historiaLaboral.antecedentesTrabajo[1].despSecuelas"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[2].fechaAnt" name="persona.historias.historiaLaboral.antecedentesTrabajo[2].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[2].nomEmpresa" name="persona.historias.historiaLaboral.antecedentesTrabajo[2].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[2].despCaus" name="persona.historias.historiaLaboral.antecedentesTrabajo[2].despCaus"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[2].tipoLesion" name="persona.historias.historiaLaboral.antecedentesTrabajo[2].tipoLesion"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[2].despIncapacidad" name="persona.historias.historiaLaboral.antecedentesTrabajo[2].despIncapacidad"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[2].despSecuelas" name="persona.historias.historiaLaboral.antecedentesTrabajo[2].despSecuelas"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[3].fechaAnt" name="persona.historias.historiaLaboral.antecedentesTrabajo[3].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[3].nomEmpresa" name="persona.historias.historiaLaboral.antecedentesTrabajo[3].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[3].despCaus" name="persona.historias.historiaLaboral.antecedentesTrabajo[3].despCaus"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[3].tipoLesion" name="persona.historias.historiaLaboral.antecedentesTrabajo[3].tipoLesion"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[3].despIncapacidad" name="persona.historias.historiaLaboral.antecedentesTrabajo[3].despIncapacidad"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[3].despSecuelas" name="persona.historias.historiaLaboral.antecedentesTrabajo[3].despSecuelas"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[4].fechaAnt" name="persona.historias.historiaLaboral.antecedentesTrabajo[4].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[4].nomEmpresa" name="persona.historias.historiaLaboral.antecedentesTrabajo[4].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[4].despCaus" name="persona.historias.historiaLaboral.antecedentesTrabajo[4].despCaus"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[4].tipoLesion" name="persona.historias.historiaLaboral.antecedentesTrabajo[4].tipoLesion"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[4].despIncapacidad" name="persona.historias.historiaLaboral.antecedentesTrabajo[4].despIncapacidad"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.antecedentesTrabajo[4].despSecuelas" name="persona.historias.historiaLaboral.antecedentesTrabajo[4].despSecuelas"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--Pregunta enfermedad-->
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <mat-form-field>
                  <mat-label for="formEnfermedadLaboralOcupacional">{{datosSingleton.labelTieneEnfermedad}}</mat-label>
                  <mat-select [(ngModel)]="persona.historias.historiaLaboral.accionesTrabajoSN" name="enfermedadLaboral" required>
                    <mat-option value="S">{{datosSingleton.labelSI}}</mat-option>
                    <mat-option value="N">{{datosSingleton.labelNO}}</mat-option>
                  </mat-select>
                  <mat-error>Seleccione una opción</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12 ajusteTablas">
                <table class="table" id="tableEnfermedad">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesFecha}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesEmpresa}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesDiagnostico}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesRecomendaciones}}</th>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesIndemnizacion}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[0].fechaAnt" name="persona.historias.historiaLaboral.enfermedadesLaboral[0].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[0].nomEmpresa" name="persona.historias.historiaLaboral.enfermedadesLaboral[0].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[0].despDiagnostico" name="persona.historias.historiaLaboral.enfermedadesLaboral[0].despDiagnostico"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[0].despRecomendaciones" name="persona.historias.historiaLaboral.enfermedadesLaboral[0].despRecomendaciones"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[0].despIndemnizar" name="persona.historias.historiaLaboral.enfermedadesLaboral[0].despIndemnizar"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[1].fechaAnt" name="persona.historias.historiaLaboral.enfermedadesLaboral[1].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[1].nomEmpresa" name="persona.historias.historiaLaboral.enfermedadesLaboral[1].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[1].despDiagnostico" name="persona.historias.historiaLaboral.enfermedadesLaboral[1].despDiagnostico"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[1].despRecomendaciones" name="persona.historias.historiaLaboral.enfermedadesLaboral[1].despRecomendaciones"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[1].despIndemnizar" name="persona.historias.historiaLaboral.enfermedadesLaboral[1].despIndemnizar"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[2].fechaAnt" name="persona.historias.historiaLaboral.enfermedadesLaboral[2].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[2].nomEmpresa" name="persona.historias.historiaLaboral.enfermedadesLaboral[2].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[2].despDiagnostico" name="persona.historias.historiaLaboral.enfermedadesLaboral[2].despDiagnostico"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[2].despRecomendaciones" name="persona.historias.historiaLaboral.enfermedadesLaboral[2].despRecomendaciones"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[2].despIndemnizar" name="persona.historias.historiaLaboral.enfermedadesLaboral[2].despIndemnizar"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[3].fechaAnt" name="persona.historias.historiaLaboral.enfermedadesLaboral[3].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[3].nomEmpresa" name="persona.historias.historiaLaboral.enfermedadesLaboral[3].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[3].despDiagnostico" name="persona.historias.historiaLaboral.enfermedadesLaboral[3].despDiagnostico"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[3].despRecomendaciones" name="persona.historias.historiaLaboral.enfermedadesLaboral[3].despRecomendaciones"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[3].despIndemnizar" name="persona.historias.historiaLaboral.enfermedadesLaboral[3].despIndemnizar"></textarea></td>
                    </tr>
                    <tr>
                      <td><input type="date" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[4].fechaAnt" name="persona.historias.historiaLaboral.enfermedadesLaboral[4].fechaAnt"/></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[4].nomEmpresa" name="persona.historias.historiaLaboral.enfermedadesLaboral[4].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[4].despDiagnostico" name="persona.historias.historiaLaboral.enfermedadesLaboral[4].despDiagnostico"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[4].despRecomendaciones" name="persona.historias.historiaLaboral.enfermedadesLaboral[4].despRecomendaciones"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.enfermedadesLaboral[4].despIndemnizar" name="persona.historias.historiaLaboral.enfermedadesLaboral[4].despIndemnizar"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <h3>{{datosSingleton.menuSubmenuOcupacionalHistoriaLaboralFactoresRiesgo}}</h3>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12 ajusteTablas">
                <table class="table" id="tableFactores">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">{{datosSingleton.tablaEnfermedadesEmpresa}}</th>
                      <th scope="col">{{datosSingleton.tablaFactoresFactoresRiesgo}}</th>
                      <th scope="col">{{datosSingleton.tablaFactoresTiempo}}</th>
                      <th scope="col">{{datosSingleton.tablaFactoresMedidasControl}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[0].nomEmpresa" name="persona.historias.historiaLaboral.factoresRiesgo[0].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[0].despFactores" name="persona.historias.historiaLaboral.factoresRiesgo[0].despFactores"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[0].tiempo" name="persona.historias.historiaLaboral.factoresRiesgo[0].tiempo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[0].despMedidasControl" name="persona.historias.historiaLaboral.factoresRiesgo[0].despMedidasControl"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[1].nomEmpresa" name="persona.historias.historiaLaboral.factoresRiesgo[1].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[1].despFactores" name="persona.historias.historiaLaboral.factoresRiesgo[1].despFactores"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[1].tiempo" name="persona.historias.historiaLaboral.factoresRiesgo[1].tiempo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[1].despMedidasControl" name="persona.historias.historiaLaboral.factoresRiesgo[1].despMedidasControl"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[2].nomEmpresa" name="persona.historias.historiaLaboral.factoresRiesgo[2].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[2].despFactores" name="persona.historias.historiaLaboral.factoresRiesgo[2].despFactores"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[2].tiempo" name="persona.historias.historiaLaboral.factoresRiesgo[2].tiempo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[2].despMedidasControl" name="persona.historias.historiaLaboral.factoresRiesgo[2].despMedidasControl"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[3].nomEmpresa" name="persona.historias.historiaLaboral.factoresRiesgo[3].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[3].despFactores" name="persona.historias.historiaLaboral.factoresRiesgo[3].despFactores"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[3].tiempo" name="persona.historias.historiaLaboral.factoresRiesgo[3].tiempo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[3].despMedidasControl" name="persona.historias.historiaLaboral.factoresRiesgo[3].despMedidasControl"></textarea></td>
                    </tr>
                    <tr>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[4].nomEmpresa" name="persona.historias.historiaLaboral.factoresRiesgo[4].nomEmpresa"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[4].despFactores" name="persona.historias.historiaLaboral.factoresRiesgo[4].despFactores"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[4].tiempo" name="persona.historias.historiaLaboral.factoresRiesgo[4].tiempo"></textarea></td>
                      <td><textarea rows="2" cols="30" [(ngModel)]="persona.historias.historiaLaboral.factoresRiesgo[4].despMedidasControl" name="persona.historias.historiaLaboral.factoresRiesgo[4].despMedidasControl"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </blockquote>
          </div>



          <!--******************************************************************************-->
          <!--Tercera fase-->
          <div class="card-body" *ngIf="datosTerceraFase">
            <blockquote class="blockquote col-md-12 col-sm-12 col-xs-12 form-row etiquetas">
            </blockquote>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
