<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <app-header></app-header>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card text-center col-md-12 col-sm-12 col-xs-12" style="top:10px;">
                <div class="card-body ">
                    <blockquote class="blockquote mb-0 form-row etiquetas">
                        <div class="form-group col-md-8 col-sm-8 col-xs-12">
                            <mat-form-field>
                                <mat-label for="formNoDocumentoOcupacional">NUMERO DOCUMENTO
                                </mat-label>
                                <input matInput [(ngModel)]="numeroDocumento" name="numeroDocumento"
                                    id="formNoDocumentoOcupacional" type="text" class="form-control campoGrande"
                                    placeholder="Numero Documento" required />
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                            <button id="BuscarHistoria" mat-raised-button color="primary" (click)="onBuscarHistoria()">
                                <mat-icon>search</mat-icon>Buscar Historias
                            </button>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="tablaDatos" style="display:none;">
            <div class="card text-center col-md-12 col-sm-12 col-xs-12" style="top:10px;">
                <div class="card-header">
                    LISTADO HISTORIA
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" *ngIf="encontrado">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                        <ng-container matColumnDef="Numero Historia">
                            <th mat-header-cell *matHeaderCellDef> Numero Historia </th>
                            <td mat-cell *matCellDef="let element"> {{element.seqHistoriaGym}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element"> {{element.diaHistoriaGym}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Certificado">
                            <mat-header-cell *matHeaderCellDef> Certificado </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-raised-button
                                    [routerLink]="['/menuPrincipal/crear/certificadoGym',element.seqHistoriaGym]"
                                    color="primary"> Ver
                                    Certificado<mat-icon>trending_down
                                    </mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
