<section class="container-fluid">
    <div class="row">
        <div class="signature-pad">
            <div class="signature-pad--body ">
                <canvas #sPad1 width="400" height="200" style="touch-action: none; background: black;"></canvas>
                <button class="btn btn-block btn-danger" (click)="clearUsuario()">Limpiar</button>
                <button class="btn btn-block btn-success" (click)="savePNGUsuario()">Guardar</button>
            </div>
        </div>
    </div>
</section>