<div class="container" *ngIf="isLogueado == false">
  <div class="row">
    <div class="col-12" style="text-align:center;">
      <div id="contorno">
        <h1>
          <font face="times">Historias Clinicas Universidad Konrad Lorenz</font>
        </h1>
      </div>
    </div>
  </div>
</div>

<div id="navbar-wrapper" *ngIf="isLogueado == true">
  <header>
    <div class="container-fluid">
      <div class="row row-col-3">
        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align: center;">
          <img src="assets/img/logoPrincipal.png" class="brand_logo" alt="Logo" width="130">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <section>
            <div id="header">
              <ul class="nav">
                <li><a href="/menuPrincipal">Inicio</a></li>
                <li *ngIf="permiso.gestionarUsuario == 1"><a>Gestión Usuarios</a>
                  <ul>
                    <li><a href="menuPrincipal/creacionUsuario">Creación Usuario</a></li>
                    <li><a href="menuPrincipal/list-usuariosApp">Listado usuarios</a></li>
                    <li><a href="menuPrincipal/cambioPass">Cambio Contraseña</a></li>
                  </ul>
                </li>
                <li *ngIf="permiso.crearUsuario == 1 || permiso.crearAux == 1"><a>Pacientes</a>
                  <ul>
                    <li *ngIf="permiso.crearUsuario == 1"><a href="menuPrincipal/listPersonas">Listado Pacientes</a></li>
                    <li><a >Crear Formularios</a>
                      <ul>
                        <li *ngIf="permiso.crearUsuario == 1" ><a href="menuPrincipal/form-ocupacional">Formulario Ocupacional</a></li>
                        <li *ngIf="permiso.crearAux == 1" ><a href="menuPrincipal/form-ocupacional/auxiliar">Formulario Ocupacional</a></li>
                        <li><a href="menuPrincipal/form-gym">Formulario GYM</a></li>
                        <li><a href="">otro</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li *ngIf="permiso.descargar == 1"><a>Descargas</a>
                  <ul>
                    <li><a href="">Certificados</a></li>
                    <li><a href="">PDF Formularios</a></li>
                    <li><a href="">Reportes</a></li>
                  </ul>
                </li>
                <li><a href="" (click)="salirApp()">Salir</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 tituloRol">
          <h1>
            {{perfil + " " + nomUsuario}}
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>
