<div class="container" *ngIf="isLogueado == false">
  <div class="row">
    <div class="col-12" style="text-align:center;">
      <div id="contorno">
        <h1>
          <font face="times">Historias Clinicas Universidad Konrad Lorenz</font>
        </h1>
      </div>
    </div>
  </div>
</div>

<div id="navbar-wrapper" *ngIf="isLogueado == true" style="padding:1%;background:black;">
  <header>
    <div class="container-fluid">
      <div class="row row-col-3">
        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align: center;">
          <img src="assets/img/logoPrincipal.png" class="brand_logo" alt="Logo" width="130">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <section>
            <div id="header">
              <ul class="nav">
                <li><a href="/menuPrincipal">Inicio</a></li>
                <li><a>Gestión Usuarios</a>
                  <ul>
                    <li><a href="">Creación Usuario</a></li>
                    <li><a href="">Listado usuarios</a></li>
                    <li><a href="">Cambio Contraseña</a></li>
                  </ul>
                </li>
                <li><a>Pacientes</a>
                  <ul>
                    <li><a href="">Ver Pacientes</a></li>
                    <li><a >Crear Formularios</a>
                      <ul>
                        <li><a href="menuPrincipal/form-ocupacional">Formulario Ocupacional</a></li>
                        <li><a href="">Formulario GYM</a></li>
                        <li><a href="">Datos Principales</a></li>
                        <li><a href="">Submenu4</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a>Descargas</a>
                  <ul>
                    <li><a href="">Certificados</a></li>
                    <li><a href="">PDF Formularios</a></li>
                    <li><a href="">Reportes</a></li>
                    <li><a href="">Submenu4</a></li>
                  </ul>
                </li>
                <li><a href="">Salir</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 tituloRol">
          <h1>
            administrador
          </h1>
        </div>
      </div>
    </div>
  </header>
</div>
